<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <center>
    <h2>Welcome to {{company}} Company, {{name}}!</h2>
    <p>Your account has been created on our system.<br>Below are your generated credentials</p>
    <p style="font-weight:bold">Please use this credentials to login to the application</p>
  </center>
  <hr>
  <center>
  <p style="font-weight: 200;">Legal Numer</p>
  <h3>{{legalNumber}}</h3>
  </center>
  <br>
  <center>
  <p style="font-weight: 200;">Password</p>
  <h3>{{password}}</h3>
  </center>
</body>
</html>