<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>
<body>
  <center>
    <h2>Welcome to {{company}} Company, {{name}}!</h2>
    <p>Your OTP code is</p>
    <p style="font-weight:bold">Please use this code to change your password</p>
  </center>
  <hr>
  <center>
  <p style="font-weight: 200;">OTP code</p>
  <h3>{{otpCode}}</h3>
  </center>
</body>
</html>